.container {
  float: left;
}


.key {
  display: block;
  color: #aaa;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 41px;
  margin: 5px;
  background: #eff0f2;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  text-shadow: 0 1px 0 #f5f5f5;
  box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  transform: perspective(0) translateY(4px);
}

.key-depth-1 {
  width: 44px;
  height: 41px;
  background: #eff0f2;
  border-radius: 4px;
  transform: perspective(0) translateY(1px);
  position: absolute;
  top: 5px;
  left: 5px;
}
.key-depth-2 {
  width: 44px;
  height: 41px;
  background: #eff0f2;
  border-radius: 4px;
  transform: perspective(0) translateY(2px);
  position: absolute;
  top: 5px;
  left: 5px;
}
.key-depth-3 {
  width: 44px;
  height: 41px;
  background: #eff0f2;
  border-radius: 4px;
  transform: perspective(0) translateY(3px);
  position: absolute;
  top: 5px;
  left: 5px;
}


.keyboard-container {
  position: relative;
  perspective: 365px;
}

.keyboard {
  * {margin: 0; padding: 0;}
  z-index: 20;
  margin: 0 auto 20px;
  width: 800px;
  height: 315px;
  background: #bbb;
  background: linear-gradient(
      to top,
      rgb(212,216,219) 27%,
      rgb(213,217,220) 64%,
      rgb(230,233,235) 95%,
      rgb(191,191,191)
  );
  border-top-left-radius: 7px 21px;
  border-top-right-radius: 7px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px 0 0;
  box-shadow:
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;

  &--flat {
    transform: rotateZ(0deg) rotateX(26deg) rotateY(0deg) scaleZ(1) scaleY(.56) scaleX(1) translateX(0) translateY(103px) translateZ(-79px);
    transition: 800ms cubic-bezier(0.18, 1.04, 0.45, 0.94);
  }

  ul {list-style-type: none; width: 784px; margin: 0 auto;}
  li {float: left;}
}



.key{
  display: block;
  color: #aaa;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 41px;
  margin: 5px;
  background: #eff0f2;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  text-shadow: 0 1px 0 #f5f5f5;
  box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
}

.key:active, .keydown {
  color: #888;
  background: #ebeced;
  margin: 7px 5px 3px;
  box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}

.fn span {
  display: block;
  margin: 14px 5px 0 0;
  text-align: right;
  font: bold 6pt arial;
  text-transform: uppercase;}
.esc {
  margin: 6px 15px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;}


.numbers-row li a span {
  display: block;}

.numbers-row li a b {
  margin: 3px 0 3px;
  display: block;}

.numbers-row li .alt b {display: block;margin: 0 0 3px;}

.numbers-row li .delete span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;}

.qwerty li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;}

.qwerty li .tab span {
  text-align: left;
  margin: 23px 0 0 10px;
  font-size: 7.5pt;
  text-transform: lowercase;}

.qwerty li .alt b {display: block; margin: 3px 0 0;}
.qwerty li .alt span {margin: 2px 0 0;}


.asdfg li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;}

.asdfg li .alt span {margin: 0; text-transform: lowercase;}
.asdfg li .alt b {display: block; margin: 3px 0 0;}
.asdfg li .caps b {
  display: block;
  background: #999;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  margin: 9px 0 0 10px;
  box-shadow:inset 0 1px 0 #666;
}
.asdfg li .caps span {
  text-align: left;
  margin: 10px 0 0 10px;
  font-size: 7.5pt;
}
.asdfg li .enter span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
}


.zxcvb li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;}
.zxcvb li .shiftleft span {
  text-align: left;
  margin: 23px 0 0 10px;
  font-size: 7.5pt;
  text-transform: lowercase;}
.zxcvb li .shiftright span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;}
.zxcvb li .alt b {display: block;margin: 4px 0 0;}
.zxcvb li .alt span {margin: 0;}


.bottomrow li .fn span, .bottomrow li .control span, .bottomrow li .optionleft span, .bottomrow li .commandleft span {
  display: block;
  text-align: left;
  margin: 31px 0 0 8px;
  font-size: 7.5pt;
  text-transform: lowercase;}

.bottomrow li .optionright span, .bottomrow li .commandright span {
  display: block;
  text-align: right;
  margin: 31px 8px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;}

.bottomrow ol li .left span, .bottomrow ol li .right span, .bottomrow ol li .up span, .bottomrow ol li .down span {
  display: block;
  margin: 9px 0 0;}

.fn {height: 26px; width: 46px;}
.delete {width: 72px;}
.tab {width: 72px;}
.caps {width: 85px;}
.enter {width: 85px;}
.shiftleft, .shiftright {width: 112px;}
.fn, .control, .option, .command, .spacebar {height: 49px;}

.control {width: 56px;}
.option {width: 46px;}
.command {width: 67px;}
.spacebar {width: 226px;}

.left img, .up img, .down img, .right img {border: none;}
ul ol {list-style-type: none;}
.down {height: 23px; font-size: 8px; }
.up, .left, .right {height: 24px; font-size: 8px; }
.left, .right {margin: 30px 5px 5px;}
.left:active, .right:active {margin: 32px 5px 3px;}
.up {margin: 5px 5px 1px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
.up:active {margin: 8px 5px -2px;}
.down {margin: 0 5px 5px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.down:Active {margin: 3px 5px 4px;}

